{% extends 'base.html'%}
 <!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <head>
   <!-- <ul>
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>

    </ul> -->
  </head>

<body>
  <h1>Hello wellcome to pitches</h1>

  <!-- {% block contetnt %}
  
  <form>
    <div class="pitch">
      
        <p>write a pitch</p>
      
      <input type= "write pitch" value="" class="btn btn-default">
     
    </div>
  </form>
  <div class="container">
      <form>
   
          <input type="submit"  value="Submit" class="btn btn-default">
      </form>
   
   </div>

   {%endblock%} -->

</body>
</html>


 